
.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.btn-size-sm{
    width: 50px;
}
.shadow{
    -webkit-box-shadow: 2px 8px 5px -4px rgba(0,0,0,0.18);
    -moz-box-shadow: 2px 8px 5px -4px rgba(0,0,0,0.18);
    box-shadow: 2px 8px 5px -4px rgba(0,0,0,0.18);
}
